.root {
/*  background: #fff;*/
  padding: 0.3rem 0.2rem;
}
.list {
  display: flex;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid #ddd;
}
.img {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}
.con {
  margin-left: 0.2rem;
}
.link {
  color: #1abc9c;
  text-decoration: underline!important;
}

.rCommon {
  position: absolute;
  z-index: 10;
  height: 0.6rem;
  width: 100%;
  background: #f2f2f2;
}


.refresh {
  composes: rCommon;
  top: -0.6rem;
}
.refresh2 {
  composes: rCommon;
  top: 0;
}