.root {
  width: 24%;
  margin-bottom: 30px;
}

.thumb {
  display: block;
  height: 140px;
  width: 140px;
  border-radius: 55px;
  margin-bottom: 14px;
}

.title {
  line-height: 1;
  color: #323232;
}