.root {
  width: 24%;
  margin-bottom: 0.3rem;
}

.thumb {
  display: block;
  height: 0.94rem;
  width: 0.94rem;
  border-radius: 0.4rem;
  margin-bottom: 0.2rem;
}

.title {
  line-height: 1;
  color: #323232;
}