.root {
  position: absolute;
  top: 0.89rem;
  z-index: 150;
  width: 100%;
  display: flex;
}

.list {
  position: relative;
  padding: 0 35px;
  height: 0.9rem;
}

.active {
  background: #f2f2f2;
}

.sonActive {
  padding-right: 0.3rem;
  border-bottom: 1px solid #ddd;
}

.left {
  flex-grow: 4;
  background: #fff;
}

.right {
  flex-grow: 6;
  background: #f2f2f2;
}