@import "nihao.scss";

$blue: #056ef0;
$baseFontSize:  24px !default;
$column: 200px;
@alias {
  fs: font-size;
  br: border-radius;
}
.toYellow {
  background: yellow;
}
.toRed2 {
  background: red;
}
.toRed {
  color: $blue;
  display: flex;
  font-size: $baseFontSize;
}

@define-mixin center-block {
  background: #000;
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

li:between(4, 6) {
  color: blue;
}

.myUlhj {
  @mixin center-block;
  li {
    background: red;
    margin-bottom: 10px;
    fs: 25px;
  }
}
input::placeholder {
  color: red;
  opacity: 0.8;
}
.myDiv {
  width: calc(4 * $column);
  @if 3 < 5 {
    background: green;
  } @else {
    background: blue;
  }
}


//noinspection ALL
.myDiv2 {
  composes: big from './nihao.scss';
  margin: 20px;
  padding: @margin;
  position: relative 20% auto;
}

//noinspection ALL
@define-extend bgGreen {
  background: green;
}

.noticeGlear {
  @extend bgGreen;
}

.parent {
  background: white;

  @at-root{
    .child {
      background: black;
    }
  }
}