.root {
  background: #1bbc9b;
  height: 107px;
  padding: 0 34px;
  display: flex;
}

.left {
  color: #fff;
  margin-right: 40px;
  line-height: 3;
  &:hover, &:active {
    color: #fff;
  }
}

.center {
  flex-grow: 1;
  margin-top: 23px;
  padding-left: 20px;
  background: #fff;
  height: 60px;
  border-radius: 30px;
  color: #858585;
  &:hover, &:active {
    color: #858585;
  }
}

.right {
  position: relative;
  color: #fff;
  font-size: 50px;
  line-height: 2.1;
  margin-left: 30px;
  &:hover, &:active {
    color: #fff;
  }
}

.tip {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fe535c;
  left: 30px;
  top: 24px;
}

.search {
  font-size: 37px;
  line-height: 1.7;
  margin-right: 20px;
}