.root {
  background: #1bbc9b;
  height: 0.9rem;
  padding: 0 0.3rem;
  display: flex;
}

.left {
  color: #fff;
  margin-right: 0.4rem;
  line-height: 3.5;
  &:hover, &:active {
    color: #fff;
  }
}

.center {
  flex-grow: 1;
  margin-top: 0.2rem;
  padding-left: 0.2rem;
  background: #fff;
  height: 0.5rem;
  border-radius: 0.25rem;
  color: #858585;
  &:hover, &:active {
    color: #858585;
  }
}

.right {
  position: relative;
  color: #fff;
  font-size: 0.4rem;
  line-height: 2.1;
  margin-left: 0.3rem;
  &:hover, &:active {
    color: #fff;
  }
}

.tip {
  position: absolute;
  display: inline-block;
  width: 0.16rem;
  height: 0.16rem;
  border-radius: 50%;
  background: #fe535c;
  left: 0.24rem;
  top: 0.24rem;
}

.search {
  font-size: 0.3rem;
  line-height: 1.7;
  margin-right: 0.2rem;
}