.root {
  display: block;
  position: relative;
  padding: 0.3rem 0;
  border-bottom: 1px solid #ccc;
}

.rootOneOne {
  display: block;
  width: 160px;
  height: 120px;
}

.rootOneTwoCommon {
  display: block;
  position: absolute;
  z-index: 10;
  left: -0.3rem;
  top: 0.14rem;
  width: 1.26rem;
  height: 0.35rem;
  line-height: 0.35rem;
  text-align: center;
  color: #fff;
  font-size: 0.2rem;
  transform: rotateZ(315deg)
}

.rootOneTwo {
  composes: rootOneTwoCommon;
  background: #19bd9a;
}

.rootTwo {
  margin-left: 1.8rem;
  margin-right: 1.5rem;
}

.rootTwoZero {
  font-size: 0.3rem;
  line-height: 1;
  margin-bottom: 0.09rem;
}

.rootTwoOne {
  line-height: 1;
  margin-bottom: 0.09rem;
  color: #999;
}

.rootTwoTwo {
  line-height: 1;
  margin-bottom: 0.09rem;
}

.rootTwoTwoOne {
  color: #666;
}

.rootTwoTwoTwo {
  color: #999;
}

.rootTwoThr {
  display: flex;
  align-items: center;
  line-height: 1;
  margin-bottom: 0.1rem;
}

.rootTwoThrOne {
  font-size: 0.32rem;
  color: #33b433;
  margin-right: 0.06rem;
}

.rootTwoThrTwo {
  color: #999;
}

.rootTwoTFour {
  height: 0.32rem;
  line-height: 0.32rem;
}

.rootTwoTFourOne {
  font-size: 0.32rem;
  color: #848484;
  margin-right: 0.06rem;
  vertical-align: sub;
}

.rootTwoTFourTwo {
  color: #999;
}

.rootThr {
  position: absolute;
  right: 0.1rem;
  top: 50%;
  transform: translateY(-50%);
}

.rootThrOne {
  font-size: 0.7rem;
  color: #ec6957;
}

.rootThrTwo {
  color: #ec6957;
}

.listDelete {
  flex-basis: 0.45rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  font-size: 0.4rem;
  color: red;
}