{
  "presets": [
    ["env", {"modules": false}],
    "react",
    "stage-0"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ]
}