@import "../../../styles/mixins.scss";
@import "../../../styles/app.scss";

.addBtn {
  @mixin btn 200px, 10px;
  i {
    color: $main-color;
  }
  &:hover {
    @mixin btn 200px, 10px, $white, $main-color, 14px, 4px, 1px solid $main-color;
    i {
      color: $white;
    }
  }
}

.item {
  @mixin btn 400px, 15px, #fff, #9b9b9b, 14px, 0px, 1px solid #9b9b9b;
  margin-bottom: 5px;
}
