@import "../../../styles/mixins.scss";
@import "../../../styles/app.scss";

.btnTest {
  span {
    line-height: 1;
  }
  @include btn(200px, 10px);
  i {
    color: $main-color;
  }
  &:hover {
    @include btn (200px, 10px, $white, $main-color, 14px, 4px, 1px solid $main-color);
    i {
      color: $white;
    }
  }
}
