.root {
  background: #fafafa;
  padding: 0.4rem 0.6rem;
  display: flex;
  width: 100%;
  max-width: 10rem;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 0.1rem;
}