.root {
  position: absolute;
  top: 0.89rem;
  z-index: 150;
  width: 100%;
}

.list {
  position: relative;
  padding: 0 35px;
  height: 0.9rem;
  background: #F7FAF7;
}

.active {
  background: #ddd;
}

.sonActive {
  background: #fff;
  padding-right: 0.3rem;
  border-bottom: 1px solid #ddd;
}

.conMulti {
  composes: root;
  display: flex;
}
.left {
  flex-basis: 3rem;
  background: #F7FAF7;
}
.right {
  flex-grow: 1;
  background: #fff;
}