@font-face {
  font-family: 'dudu';
  src:    url('../fonts/dudu.eot?wl8wsb');
  src:    url('../fonts/dudu.eot?wl8wsb#iefix') format('embedded-opentype'),
  url('../fonts/dudu.ttf?wl8wsb') format('truetype'),
  url('../fonts/dudu.woff?wl8wsb') format('woff'),
  url('../fonts/dudu.svg?wl8wsb#dudu') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dudu' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-haodian42un:before {
  content: "\e916";
}
.i-jianpan60:before {
  content: "\e901";
}
.i-fanhui50:before {
  content: "\e902";
}
.i-shezhi40:before {
  content: "\e903";
}
.i-sousuo40:before {
  content: "\e904";
}
.i-bangzhu40:before {
  content: "\e905";
}
.i-bainji40:before {
  content: "\e906";
}
.i-xuanze24un:before {
  content: "\e907";
}
.i-xuanze24:before {
  content: "\e908";
}
.i-qianggou42un:before {
  content: "\e909";
}
.i-qianggou42:before {
  content: "\e90a";
}
.i-daifukuan40:before {
  content: "\e90b";
}
.i-zuobiao32:before {
  content: "\e90c";
}
.i-duihuan40:before {
  content: "\e90d";
}
.i-jilu40:before {
  content: "\e90e";
}
.i-erweima32:before {
  content: "\e90f";
}
.i-fanhui40:before {
  content: "\e910";
}
.i-you40:before {
  content: "\e911";
}
.i-wode42un:before {
  content: "\e912";
}
.i-wode42:before {
  content: "\e913";
}
.i-guanyu32:before {
  content: "\e914";
}
.i-tixing40:before {
  content: "\e915";
}
.i-haodian42:before {
  content: "\e917";
}
.i-jifen40:before {
  content: "\e918";
}
.i-409:before {
  content: "\e919";
}
.i-qiandao40:before {
  content: "\e91a";
}
.i-jiudian40:before {
  content: "\e91b";
}
.i-dianhua32:before {
  content: "\e91c";
}
.i-lvyou40:before {
  content: "\e91d";
}
.i-meishi40:before {
  content: "\e91e";
}
.i-qinzibang40:before {
  content: "\e91f";
}
.i-quanbudingdan40:before {
  content: "\e920";
}
.i-shanchu32:before {
  content: "\e921";
}
.i-dianping38:before {
  content: "\e922";
}
.i-4016:before {
  content: "\e923";
}
.i-shijian28:before {
  content: "\e924";
}
.i-shoucang40un:before {
  content: "\e925";
}
.i-shoucang40:before {
  content: "\e926";
}
.i-4019:before {
  content: "\e927";
}
.i-4020:before {
  content: "\e928";
}
.i-xiangji38:before {
  content: "\e929";
}
.i-tongchengju40:before {
  content: "\e92a";
}
.i-tongcheng40:before {
  content: "\e92b";
}
.i-weixinzhifu32:before {
  content: "\e92c";
}
.i-weipingjia40:before {
  content: "\e92d";
}
.i-weixiaofei40:before {
  content: "\e92e";
}
.i-hongbao32:before {
  content: "\e92f";
}
.i-wuzhe40:before {
  content: "\e930";
}
.i-xiuxian40:before {
  content: "\e931";
}
.i-yiriyou40:before {
  content: "\e932";
}
.i-yifkuan40:before {
  content: "\e933";
}
.i-shijianmian28:before {
  content: "\e934";
}
.i-youhui42un:before {
  content: "\e935";
}
.i-youhui42:before {
  content: "\e936";
}
.i-youjiantou24:before {
  content: "\e937";
}
.i-zhoubian42un:before {
  content: "\e938";
}
.i-zhoubian42:before {
  content: "\e939";
}
.i-zhoubianzuobiao28:before {
  content: "\e93a";
}
.i-zhoumoyou40:before {
  content: "\e93b";
}
.i-zhuye42un:before {
  content: "\e93c";
}
.i-zhuye42:before {
  content: "\e93d";
}
.i-zuixinyouhui40:before {
  content: "\e93e";
}
.i-huangguan:before {
  content: "\e93f";
}
.i-spinner:before {
  content: "\e900";
}