.root {
  flex: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  line-height: 1;
  color: #666;
  &:hover {
    color: #1abc9c;
  }
}

.ico {
  font-size: 50px;
  display: block;
  margin-bottom: 10px;
}

.text {
  display: block;
  line-height: 1;
}
